@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Raleway:wght@100;200;300;400;700;800&display=swap');

*{
    box-sizing: border-box;
    
}
body{
    margin: auto;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color:white; 
}

.nav-link:hover{
    color: rgb(170, 172, 175) !important
}
.navbar{
    background-color: #16182B !important;
}
.navbar-toggler{
    line-height: 1;
    color: rgb(248, 246, 250);
    background-color: #270455;
    background: #40409f;
}
/* agregue main*/



section{
    display: grid;
    background-color: #16182b;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
    
}

/*section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;viene por defecto
    height: 600px;
    gap: 40px;
    padding: 40px;
    background-color: #16182B;
    
    
    
}*/
.seccion_text{
    display: flex;
    justify-content: start;
    flex-flow: column nowrap;
    background-color: #16182b;
    /*display: grid;*/
    /*place-items: center;*/
    padding: 40px;
    
    

}
.seccion_imagen {
    background: url(guitar\ studio.png);
    background-size: cover;
    background-position: center; 


    
 
}



.boton_negro{
    display: grid;
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 370px;
    height: 40px;
    margin-bottom: 50px;
    
    
    
     
    
    
}

.boton_negro a{
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}


section h1{
    color: white;
    font-size: 3rem;
    line-height: 4rem;
    font-weight:bolder; 
    margin-bottom: 10%;
     
    
}
section h2{
    font-size: 18px;
    font-weight: 500;
    color: rgb(202, 202, 202);
    margin-bottom: 10%;
}

/*section {
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}

.seccion_text h1, h2, h4{
    margin: 20px;
}
section h2{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}*/
.celda1{
    width: 300px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.bonton-enviar{
    margin-left: 5px;
    color: black;
    width: 80px;
    height: 45px;
    border-radius: 10px;
    background-color:aqua
}
.bonton-enviar :hover{
    background-color: rgb(0, 128, 128);
}   
.seccion_text h4{
    font-weight: lighter;
    font-size: small;
    text-align:left;
    
}

@media (max-width:768px){
    .celda1{
        width: 300px;
    }
    section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 900px;
    }
    
    
    
}
/*agrgue tarjetas*/
.container-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FAFAFA;
    padding: 10%;
    
    
    
}
.titulo-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 0px 40px;
    color: black;
    background-color: #FAFAFA;

}
.titulo-tarjetas h3{
    padding: 10px;
    font-size: 20px;
    font-weight:600;
}
.titulo-tarjetas h1{
    padding: 5px;
    font-weight: bolder;
}
.titulo-tarjetas h2{
    padding: 10px;
    font-weight: 400;
    color: grey;
    font-size: 25px;
}
.card{
    background-color: white;
    width: 370px;
    /*height: 400px;*/
    margin: 10px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0,0.1);
}
.card-image{
    height: 190px;
    /*margin-bottom: 15px;*/
    background-size: cover;
    border-radius: 13px 13px 0 0;
}
.car1{
    background-image: url(photo-06.jpg);
    background-size: cover;
    
}
.car2{
    background-image: url(photo-04.jpg);
    background-size: cover;
    
}
.car3{
    background-image: url(jakub-explorer.jpg);
    background-size: cover;
    
}
.card h3{
    padding: 20px 20px 0px 20px;
}
.card h2{
    padding: 20px;
    margin-bottom: 0px;
}
.card p {
    padding: 0px 20px 0px 20px;
    color: gray;
}
.card h4{
    color: black;
}


.card h4:hover{
    text-decoration: underline;
    color: black;
}
.testimonio{
    display: flex;
    text-decoration: none;
    padding: 20px;
    
}
.testimonio img{
    border-radius: 100%;
    width:40px;
    height: 40px;
}
.testimonio-text{
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding-left: 20px;
    /*align-items: center;*/


}
.testimonio-text h4{
    
    font-size: medium;
    margin: 0
}
.testimonio-text p{
    padding: 0px;
    margin: 0px;
    font-size: small;
    
}
@media (max-width:768px) {
    .container-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: auto;
        max-width: auto;
        height: 1500px;

    }
    
}
/*agrego banner*/

.container-baner{
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;

    
}
.left{
    background: url(img/photo-07.jpg);
    background-size: cover;
    background-position: center;
}
.right{
    background-color: #16182b;
    display: grid;
    place-items: center;
    


}
.right h1{
    color: white;
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-weight: 900;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.right h2{
    color: rgb(218, 212, 212);
    font-size: 1.1rem;
    font-weight: 100;
    font-stretch: narrower;
    word-spacing: 5px;
    margin-top: 70px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-weight: bold;
    
    
    
}
.right p{
    color: rgb(238, 232, 212);
    margin-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    
    
}
.right a{
    background: rgb(238, 235, 235);
    color: #111827;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 55%;
    text-decoration: none;
    font-weight: bold;

}
.right a:hover{
    background-color: aqua;
}
/*@media (max-with: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height:  700px;
        margin-top: 0px;

        .right h2{margin-top: 20px;}
    }
}*/

    
@media (max-width:768px) {
     
    .container-baner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0px;
        
    }
    .right h2{
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: auto;
        
    }
    .left{
        height: 80vh ;
    }
    
}

/*Agrgo footer css*/

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    }
    .footer {
        background-color: #FAFAFA;
        padding: 80px 0;
    }
    .footer-row {
        display: flex;
        flex-wrap: nowrap;
    }
    .footer-links{
        
        width: 25%;
        padding: 0 15px;
    
    }
    
    .footer-links h4 {
        font-size: 15px;
        color: gray;
        margin-bottom: 25px;
        font-weight: 500;
        /*border-bottom: 2px solid aquamarine;*/
        padding-bottom: 10px;
        display: inline-block;
    }
    .footer-links ul li a {
        text-decoration: none;
        font-size: 13px;
        color: black;
        display: block;
        margin-bottom: 15px;
        transition: all 0.2s ease;
    
    }
    .footer-links ul li a:hover {
        color: gray;
        padding-left: 6px;
        font-weight: 10px;
    }
    .social-link {
        display: flex;
    }
    .footer-links ul{
        padding: 0;
    }
    .social-link a {
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: gray;
    
    }
    .social-link a:hover {
        background-color: rgb(224, 224, 224);
    }
    @media (max-width: 768px) {
        .footer-row {
            flex-wrap: wrap;
            text-align: center;
    }
        .footer-links {
            width: 100%;
            margin-bottom: 30px;
            
            
        }
        .social-link {
            justify-content: center;
        }
    }
    hr {
        max-width: 1000px;
        margin: auto;
    }
    .texto-derechos {
        
        text-align: center;
        font-size: small;
        color: rgb(151, 151, 151);
    }
