@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Raleway:wght@100;200;300;400;700;800&display=swap');

*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color:white
    
}


section{
    display: grid;
    background-color: #16182b;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    
}

/*section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;viene por defecto
    height: 600px;
    gap: 40px;
    padding: 40px;
    background-color: #16182B;
    
    
    
}*/
.seccion_text{
    display: flex;
    justify-content: start;
    flex-flow: column nowrap;
    background-color: #16182b;
    /*display: grid;*/
    /*place-items: center;*/
    padding: 100px;
    

}
.seccion_imagen {
    background: url(photo-03.jpg);
    background-size: cover;
    background-position: center; 


    
 
}



.boton_negro{
    display: grid;
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 370px;
    height: 40px;
    
     
    
    
}

.boton_negro a{
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}


section h1{
    color: white;
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-weight:bolder  
}
section h2{
    font-size: 18px;
    font-weight: 500;
    color: rgb(202, 202, 202)
}

/*section {
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}

.seccion_text h1, h2, h4{
    margin: 20px;
}
section h2{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}*/
.celda1{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    
}
.bonton-enviar{
    margin-left: 5px;
    color: black;
    width: 70px;
    height: 45px;
    border-radius: 10px;
    background-color:aqua
}   
.seccion_text h4{
    font-weight: lighter;
    font-size: small;
    
    text-align:left
}

@media (max-width:780px){
    .celda1{
        width: 150px;
    }
    section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 1200px;
    }
    
}